In [1]:
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://en.wikipedia.org/wiki/Lithuania"

In [13]:
response = requests.get(url)
response.text[:100]

'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-la'

In [15]:
soup = BeautifulSoup(response.content, 'html.parser')

In [17]:
title = soup.title.string
title

'Lithuania - Wikipedia'

In [19]:
table_data = []

In [31]:
table = soup.find('table',{'class':'wikitable'})

In [35]:
for row in table.find_all('tr'):
    cells = row.find_all(['th', 'td'])
    row_data = [cell.get_text(strip=True) for cell in cells]
    table_data.append(row_data)

for row in table_data:
    print(row)

['County', 'Area (km2)', 'Population (2023)[111]', 'GDP (billion EUR)[112]', 'GDP per capita (EUR)[112]']
['Alytus County', '5,425', '135,367', '1.8', '13,600']
['Kaunas County', '8,089', '580,333', '13.7', '23,900']
['Klaipėda County', '5,209', '336,104', '7.0', '21,300']
['Marijampolė County', '4,463', '135,891', '2.0', '14,400']
['Panevėžys County', '7,881', '211,652', '3.6', '17,100']
['Šiauliai County', '8,540', '261,764', '4.6', '17,600']
['Tauragė County', '4,411', '90,652', '1.2', '13,200']
['Telšiai County', '4,350', '131,431', '2.2', '16,900']
['Utena County', '7,201', '125,462', '1.7', '13,800']
['Vilnius County', '9,731', '851,346', '29.4', '35,300']
['Lithuania', '65,300', '2,860,002', '67.4', '23,800']

In [37]:
import pandas as pd

In [39]:
df = pd.DataFrame(table_data)

In [41]:
df

,0,1,2,3,4
0,County,Area (km2),Population (2023)[111],GDP (billion EUR)[112],GDP per capita (EUR)[112]
1,Alytus County,"5,425","135,367",1.8,"13,600"
2,Kaunas County,"8,089","580,333",13.7,"23,900"
3,Klaipėda County,"5,209","336,104",7.0,"21,300"
4,Marijampolė County,"4,463","135,891",2.0,"14,400"
5,Panevėžys County,"7,881","211,652",3.6,"17,100"
6,Šiauliai County,"8,540","261,764",4.6,"17,600"
7,Tauragė County,"4,411","90,652",1.2,"13,200"
8,Telšiai County,"4,350","131,431",2.2,"16,900"
9,Utena County,"7,201","125,462",1.7,"13,800"
10,Vilnius County,"9,731","851,346",29.4,"35,300"
11,Lithuania,"65,300","2,860,002",67.4,"23,800"

In [43]:
df.columns = df.iloc[0]
df = df[1:]
df

,County,Area (km2),Population (2023)[111],GDP (billion EUR)[112],GDP per capita (EUR)[112]
1,Alytus County,"5,425","135,367",1.8,"13,600"
2,Kaunas County,"8,089","580,333",13.7,"23,900"
3,Klaipėda County,"5,209","336,104",7.0,"21,300"
4,Marijampolė County,"4,463","135,891",2.0,"14,400"
5,Panevėžys County,"7,881","211,652",3.6,"17,100"
6,Šiauliai County,"8,540","261,764",4.6,"17,600"
7,Tauragė County,"4,411","90,652",1.2,"13,200"
8,Telšiai County,"4,350","131,431",2.2,"16,900"
9,Utena County,"7,201","125,462",1.7,"13,800"
10,Vilnius County,"9,731","851,346",29.4,"35,300"
11,Lithuania,"65,300","2,860,002",67.4,"23,800"

In [45]:
df.reset_index(drop=True, inplace=True)

In [47]:
df

,County,Area (km2),Population (2023)[111],GDP (billion EUR)[112],GDP per capita (EUR)[112]
0,Alytus County,"5,425","135,367",1.8,"13,600"
1,Kaunas County,"8,089","580,333",13.7,"23,900"
2,Klaipėda County,"5,209","336,104",7.0,"21,300"
3,Marijampolė County,"4,463","135,891",2.0,"14,400"
4,Panevėžys County,"7,881","211,652",3.6,"17,100"
5,Šiauliai County,"8,540","261,764",4.6,"17,600"
6,Tauragė County,"4,411","90,652",1.2,"13,200"
7,Telšiai County,"4,350","131,431",2.2,"16,900"
8,Utena County,"7,201","125,462",1.7,"13,800"
9,Vilnius County,"9,731","851,346",29.4,"35,300"
10,Lithuania,"65,300","2,860,002",67.4,"23,800"